// colors
$white: #ffffff;
$text-red: #ec4466;
$black: #000000;
$black-semi: #1b1d22;
$text-gray: #979797;
// fonts
$font-Prompt: 'Prompt', sans-serif;

// letter-spacing
$letter-spacing: 1px;

// breakpoints
$screen-sm-max: 428px;
$screen-md-max: 950px;
