// colors
$white: #ffffff;
$border-primary: #ecedee;
$list-background: #fbfbfb;
$placeholder-color: #9298a2;
$text-red: #ec4466;
$text-hover-background: #fdbc11;
$black: #000000;
$black-semi: #1b1d22;
$bleachedSilk: #f2f2f2;
$yellow: #fdbc11;
$content-background: #282B33;
$text-gray: #979797;
// fonts
$font-Prompt: 'Prompt', sans-serif;

// letter-spacing
$letter-spacing: 1px;

// breakpoints
$screen-sm-max: 428px;
$screen-md-max: 950px;
